.postArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 5rem 1.25rem;
    min-height: calc(100vh - 8rem);
}

.postCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
    padding: 1.25rem;
    background-color: var(--card-color);
    box-shadow: 0 0 1rem var(--shadow-color);
    transition: all 0.5s;
}

.postCard:hover {
    scale: 1.02;
    box-shadow: 0 0 1rem var(--shadow-color-hover);
}

.postContent {
    width: 100%;
}

.postTitle {
    position: relative;
    margin: 1.25rem;
    font-size: 3rem;
    font-weight: bolder;
    transition: all;
    transition-duration: 0.5s;
}

.postTitle:hover {
    margin-left: 1.75rem;
}

@media (min-width: 1024px) {
    .postArea {
        padding: 5rem calc((100% - 60rem) / 2);
    }
    .postCard {
        max-width: 60rem;
    }
}

.path {
    margin: 1.25rem;
    color: darkgray;
    font-style: italic;
}

.path > a{
    color: darkgray;
}

.path > a:hover{
    text-decoration: underline;
}