@import url(./animation.css);
@font-face {
    font-family: 'DongQingHeiTi';
    src: url('./DongQingHeiTi.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DongQingHeiTi', -apple-system, system-ui;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
}

.link {
    text-decoration: underline;
}